<h1>Places I've visted</h1>

<p>
  <a href="/places/new" class="btn btn-success"> Add a new place</a>
</p>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"class="btn"><%= place["name"] %></a></li>
  <% end %>
</ul>

